.rowContainer {
	display: flex;
	flex-direction: row;
}

.columnContainer {
	display: flex;
	flex-direction: column;
}

.centerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.horizontalCenterContainer {
	display: flex;
	justify-content: center;
}

.verticalCenterContainer {
	display: flex;
	align-items: center;
}
