:root {
	--blockWidth: 30px;
	--blockHeight: 30px;
}

.widthBlock {
	width: var(--blockWidth);
}

.heightBlock {
	height: var(--blockWidth);
}

.blockColor1 {
	background-color: cadetblue;
}

.blockColor2 {
	background-color: tan;
}

.blockColor3 {
	background-color: powderblue;
}
 
