<!DOCTYPE html>
<html lang="en">
<body >
  <aside class="sidebar" id="sidebar">
    <div class="side-links">
      <a href="/pages/main.html#home">Home</a>
      <a href="/pages/main.html#about">About</a>
      <a href="/pages/main.html#contact">Contact</a>
    </div>
    <hr class="separator">
    <div class="side-links">
      <h3>Components</h3>
      <a href="/pages/buttons.html">Buttons</a>
      <a href="/pages/inputs.html">Inputs</a>
    </div>
    <div class="side-links">
      <h3>Containers</h3>
      <a href="/pages/containers.html">Containers</a>
    </div>
  </aside>
  <button id="sidebar-toggle">☰</button>
</body>
</html>
